<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head">
</head>
<body>
	<header th:replace = "layout/layout :: header"></header>
	
<!--  ------------------LISTA DE SUSCRIPCION------------------------------------------->
	<main th:fragment="listaSuscripcion" role="main">
		<section class="container">

			<div class="card text-center">
				<div class="card-header">Suscripciones</div>
				<div class="card-body">

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nombre de Suscripciones</th>
								<th scope="col">Precio de suscripciones</th>
							</tr>
						</thead>
						<tbody th:each="suscripcion: ${suscripciones}">
							<tr>
								<th scope="row" th:text="${suscripcion.idSuscripcion}">1</th>
								<td th:text="${suscripcion.nombreSuscripcion}">.</td>
								<td th:text="${suscripcion.precioSuscripcion}">.</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="card-footer text-muted"></div>
			</div>



		</section>
	</main>
<!--  ----------------FOOTER------------------------------------------------>		
	<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>