<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head">
</head>
<body>
	<header th:replace = "layout/layout :: header"></header>

<!--  ------------------FORMULARIO DE NUEVOS CLIENTES------------------------------------------->
	<main role="main">
	<section class="container-fluid">

		<div class="card text-center">
			<div class="card-header">Editar cliente</div>
			<div class="card-body text-left">
			
			 <form class="was-validated" th:action="@{/mTradePlus/cliente/guardarCliente}" th:object="${cliente}" method="post">
				  
				 <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="dniCliente">DNI</label>
				      <input type="text" class="form-control" th:field="*{dniCliente}" placeholder="Ingrese su DNI" required>
				      <div class="invalid-feedback">Ingrese su DNI solo si se confundio</div>
				    </div>
				 </div>
				 
				  <div class="form-row">
					  <div class="form-group col-md-6">
					    <label for="nombreCliente">Nombre completo</label>
					    <input type="text" class="form-control" th:field="*{nombreCliente}" placeholder="Nombre completo" required>
					  	<div class="invalid-feedback">Ingrese su nombre completo</div>
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="apellidoCliente">Apellido Completo</label>
					    <input type="text" class="form-control" th:field="*{apellidoCliente}" placeholder="Apellido completo" required>
					  	<div class="invalid-feedback">Ingrese su apellido completo</div>
					  </div>
				  </div>
				  
				  <div class="form-row">
					  <div class="form-group col-md-6">
					    <label for="fechaNacimiento">Fecha de nacimiento</label>
					    <input type="date" class="form-control" th:field="*{fechaNacimiento}" placeholder="AA/MM/DD" required>
					  	<div class="invalid-feedback">Seleccione su fecha de nacimiento</div>
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="direccionCliente">Direccion completa</label>
					    <input type="text" class="form-control" th:field="*{direccionCliente}" placeholder="Ingrese su direccion de residencia" required>
					  	<div class="invalid-feedback">Ingrese su direccion completa</div>
					  </div>
				  </div>
				  
				  <div class="form-row">
				  	   <div class="form-group col-md-6">
						<label for="correoCliente">Correo electronico</label> 
						<input type="email"	class="form-control" th:field="*{correoCliente}" placeholder="ejemplo@gmail.com" required>
				  	   	<div class="invalid-feedback">Ingrese su correo electronico</div>
				  	   </div>
				  </div>
				  
				  <button type="submit" class="btn btn-success"><i class="fas fa-check-circle"></i> Grabar </button>
				  <a th:href="@{/mTradePlus/cliente}" class="btn btn-danger"><i class="fas fa-times-circle"></i> Cancelar</a>
				</form>
			
			</div>
			<div class="card-footer text-center">
				
			</div>
		</div>

	</section>
</main>
<!--  ----------------FOOTER------------------------------------------------>	
	<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>