<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<main role="main">
	<section class="container-fluid">

		<div class="card text-center">
			<div class="card-header">Nueva Compra</div>
			<div class="card-body text-left">
			
				<form class="was-validated" th:action="@{/mTradePlus/compra/guardarCompra}" th:object="${compra}" method="post">
				  
				  <div class="form-row">
					  <div class="form-group col-md-6">
					    <label for="distritoCompra">Distrito de entrega</label>
					    <input type="text" class="form-control" th:field="*{distritoCompra}" placeholder="Ingrese el distrito de entrega" required>
					  	<div class="invalid-feedback">Ingrese un distrito</div>
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="direccionEntrega">Direccion de entrega</label>
					    <input type="text" class="form-control" th:field="*{direccionEntrega}" placeholder="Ingrese la direccion de entrega" required>
					  	<div class="invalid-feedback">Ingrese una direccion</div>
					  </div>
				  </div>
				  
				  <div class="form-row">
					  
					  <div class="form-group col-md-6" >
					   <label for="cantidadCompra">Cantidad que comprara</label>
					   	 <input type="number" class="form-control" th:field="*{cantidadCompra}" placeholder="Ingrese cantidad a comprar" required>
					  	<div class="invalid-feedback">Ingrese una cantidad a comprar</div></div>
 
					  <div class="form-group col-md-6">
					    <label for="calificacionEntrega">Califica tu entrega</label>
					    <input type="text" class="form-control" th:field="*{calificacionEntrega}" placeholder="Ingrese una calificacion" required>
					  	<div class="invalid-feedback">Ingrese calificacion del 1 al 5</div>
					  </div>

					</div>
				  
				   <div class="form-row">

					  	  <label for="referenciaEntrega">Referencia entrega</label>
					       <input type="text" class="form-control" th:field="*{referenciaEntrega}" placeholder="Ejemplo: Tocar timbre D20" required>
					      <div class="invalid-feedback">Ingrese una referencia de entrega</div>
				   </div>
				  
				   <div class="form-row">
				   	 <div class="form-group col-md-6">
					    <label for="fechaCompra">Fecha de compra</label>
					    <input type="date" class="form-control" th:field="*{fechaCompra}" placeholder="AA/MM/DD" required>
					  	<div class="invalid-feedback">Seleccione la fecha de compra</div>
					 </div>
					 
					 <div class="form-group col-md-6">
					    <label for="fechaEntrega">Fecha de Entrega</label>
					    <input type="date" class="form-control" th:field="*{fechaEntrega}" placeholder="AA/MM/DD" required>
					  	<div class="invalid-feedback">Seleccione la fecha de entrega</div>
					 </div>
				  </div>
				  
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="suscripcion">Suscripcion</label>
				      <select th:field="*{suscripcion}" class="custom-select" required>
				      	<option value="" >Seleccione una suscripcion</option>
				      	<option th:each="suscripcion : ${suscripcion}"
				      		th:value="${suscripcion.idSuscripcion}"
				      		th:text="${suscripcion.nombreSuscripcion + ' - ' + suscripcion.precioSuscripcion}" ></option>
				      </select>
				      <div class="invalid-feedback">Seleccionar una suscripcion</div>
				    </div>
				    
				    <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="producto">Producto</label>
				      <select th:field="*{producto}" class="custom-select" required>
				      	<option value="" >Seleccione un producto</option>
				      	<option th:each="producto : ${producto}"
				      		th:value="${producto.idProducto}"
				      		th:text="${producto.nombreProducto}" ></option>
				      </select>
				      <div class="invalid-feedback">Seleccionar un producto</div>
				    </div>
				  </div>
				    
				  </div>
				  
				  <button type="submit" class="btn btn-success"><i class="fas fa-check-circle"></i> Grabar </button>
				  <a th:href="@{/mTradePlus/compra}" class="btn btn-danger"><i class="fas fa-times-circle"></i> Cancelar</a>
				</form>
			
			</div>
			<div class="card-footer text-center">
				
			</div>
		</div>

	</section>
</main>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>