<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head">
</head>
<body>
	<header th:replace = "layout/layout :: header"></header>
	
<!--  ------------------LISTA DE PRODUCTO------------------------------------------->
	<main th:fragment = "listaProducto" role="main">
		<section class="container-fluid">

			<div class="card text-center">
				<div class="card-header">Productos</div>
				<div class="card-body">
					
					<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Datos Vendedor</th>
				<th scope="col">Nombre del Producto</th>
				<th scope="col">Precio</th>
				<th scope="col">Descripcion del producto</th>
				<th scope="col">Stock del producto</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody th:each="producto: ${productos}">
			<tr>
				<th scope="row" th:text="${producto.idProducto}">1</th>
				<td th:text="${producto.vendedor.dniVendedor + ': ' + producto.vendedor.nombreVendedor}">.</td>
				<td th:text="${producto.nombreProducto}">.</td>
				<td th:text="${producto.precioProducto}">.</td>
				<td th:text="${producto.descripcionProducto}">.</td>
				<td th:text="${producto.cantidadProducto}">.</td>
				
				<td>
					<a href="" class="btn btn-secondary"> <i class="fas fa-info"></i> </a>
					<a th:href="@{'/mTradePlus/producto/editarProducto/' + ${producto.idProducto}}" class="btn btn-info"> <i class="fas fa-edit"></i> </a>
					<a th:href="@{'/mTradePlus/producto/eliminarProducto/' + ${producto.idProducto}}" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
				</td>
				
			</tr>
		</tbody>
	</table>
					
			</div>
				<!--  --------------------- EN ESTE FOOTER SE AGREGAN BOTONES --------------------->
				<div class="card-footer text-center">
					<a th:href="@{/mTradePlus/producto/nuevo}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Nuevo</a>
				</div>	
			</div>

			
	
		</section>
	</main>
<!--  ----------------FOOTER------------------------------------------------>		
	<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>